.cards {
  padding-bottom: 40px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}


@media screen and (max-width: 521px) {
  .cards__list{
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .cards {
    padding-bottom: 20px;
  }
}