.profile {
  margin-bottom: 20px;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 100%;
}


.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  opacity: 0.7;
  color: rgb(33, 33, 33);
  background-color: #FCF5E5;
  border: none;
  padding: 8px 0 0;
}

.profile__edit-btn:hover {
  opacity: 1.0;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(33, 33, 33, 1);
  color: #FCF5E5;
  padding: 18px 32px;
  border-radius: 8px;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin: 0;
    padding: 0;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    line-height: 1;
    max-width: 100%;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}