.card {
  max-width: 100%;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  border-radius: 8px;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
  white-space: nowrap;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.24;
  color: rgba(33, 33, 33, 1);
}

.card__like-button {
  background-image: url(../images/like_icon2.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url(../images/like_normal.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/like_hover.svg);
}

.card__delete-button {
  position: absolute;
  background: transparent url(../images/delete_button.svg) no-repeat center;
  padding: 0;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete_button_hover.svg);
}



@media screen and (max-width: 320px) {
  .card__image {
    width: 100%;
    max-width: 288px;
    height: 288px;
    margin: auto;
  }

  .card__title {
    font-size: 16px;
    max-width: 100%;
    line-height: 1.2;
  }

  .card__title {
    font-size: 16px;
    max-width: 100%;
    line-height: 1.2;
  }

  .card__list {
    gap: 10px;
    grid-template-columns: 100%;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
  }
}